/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding: 20px 2%;
  background-color: #FF8C00;
}

li a {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  height: 75px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  transition: all 0.3s ease 0s;
  color: blue;
  background-color: green;

}

h1 {
    margin: auto;
    font-size: 2rem;
}

h2 {
    margin: auto;
    padding:20px;
}

hr {
    width: 5%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #FF8C00;
    opacity: 50%;
}

body,
html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgb(113, 113, 113)), url("../images/womancomputing.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

.web-dev {
    font-weight: 600;
}

.button-apply {
    background-color: transparent;
    color: white;
    border: 2px solid #FF8C00;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    font-size: 1.15rem;
    transition-duration: 0.4s;
    width: 30%;
  }
  
  .button-apply:hover {
    background-color: #FF8C00;
    color: white;
  }

  .remote-container {
    display: flex;
    margin-top: 30px;
    padding: 50px 20px;

  }

  .remote-text {
    width: 50%;
    padding: 20px 50px;
    line-height: 2rem;
  }

  /* change colour of bullet points */
  .remote-text ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF8C00; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .remote-reason {
    width: 50%;
    padding: 20px 50px;
    align-items: center;
  }

  .reason-box {
    width: 80%;
    margin: 20px auto;
    text-align: left;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding:20px;
    box-shadow: 5px 10px 20px #cecece;
  }

  .live-logo {
    float: left;
    margin-right: 30%;
  }